DB_HOST=localhost
DB_PORT=3306
DB_NAME=applivo
DB_USERNAME=ash.applivo
DB_PASSWORD=changeme

JWT_SECRET=changeme_generate_a_real_256_bit_base64_secret
JWT_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000

SERVER_PORT=8080

STORAGE_BASE_PATH=./uploads
STORAGE_MAX_FILE_SIZE_MB=100

EMULATOR_IMAGE=budtmo/docker-android:emulator_13.0
EMULATOR_BOOT_TIMEOUT_SECONDS=420
EMULATOR_MAX_CONCURRENT_SESSIONS=1
EMULATOR_BASE_CONSOLE_PORT=5554
EMULATOR_BASE_ADB_PORT=5555
EMULATOR_BASE_VNC_PORT=6080
EMULATOR_SUPPORTED_ABIS=x86_64